.loginLastField {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginLastField > .checkBoxDiv {
  margin-top: 0;
}

.forgotPassword {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #5282c3;
}

.authField:nth-child(1) {
  margin-top: 32px;
}

.authField:nth-child(2) {
  margin-top: 24px;
}

.loginLinksDiv {
  background: #f3f5fb;
  border-radius: 16px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.loginLinksBlock1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 87%;
}

.tent2TextDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 87%;
}

.loginLinksLine {
  width: 151px;
  height: 2px;
  background-color: #ffffff;
}

.loginLinksBlock2 {
  display: flex;
  margin-top: 10px;
  align-items: flex-end;
}

.loginLink {
  margin: 0 16px;
}

.loginLink:nth-child(1) {
  width: 25px;
  height: 24px;
  background: url("../../../img1/login1Image.png") no-repeat center center/cover;
}

.loginLink:nth-child(2) {
  width: 26px;
  height: 24px;
  background: url("../../../img1/login2Image.png") no-repeat center center/cover;
}

.loginLink:nth-child(3) {
  width: 25px;
  height: 28px;
  background: url("../../../img1/login3Image.png") no-repeat center center/cover;
}

@media (max-width: 700px) {
  .submitButtonDiv {
    margin-top: 32px;
  }

  .loginLinksDiv {
    margin: 32px 16px 48px;
  }

  .loginLink:nth-child(1) {
    background: url("../../../img1/login1ImageM.png") no-repeat center
      center/cover;
  }

  .loginLink:nth-child(2) {
    background: url("../../../img1/login2ImageM.png") no-repeat center
      center/cover;
  }

  .loginLink:nth-child(3) {
    background: url("../../../img1/login3ImageM.png") no-repeat center
      center/cover;
  }

  .loginLinksLine {
    width: 118px;
  }
}
