.contentHeaderButtonsDiv {
  display: flex;
  justify-content: space-between;
}

.profileHeader {
  margin-left: 40px;
  margin-top: 2px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.profileHeaderDiv {
  margin-left: 40px;
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}

.profOrdersText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.profOrdersLink {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #7a7d80;
  display: none;
  text-decoration: none;
}

.profileOrdersDiv {
  display: flex;
  flex-wrap: wrap;
  margin: 4px 12px 129px;
}

@media (max-width: 700px) {
  .profileAboutMeText {
    display: none;
  }

  .profileOrdersDiv {
    margin: 12px 0 33px 8px;
  }

  .profileHeaderDiv {
    margin: 2px 16px;
  }

  .profOrdersLink {
    display: initial;
  }
}
