.passRecoveryBlock {
  margin-top: 19px;
}

.passRecoveryHeader {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}

.passRecInfoCode {
  margin-top: 16px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #7a7d80;
}

.authorizingBlock {
  padding-bottom: 32px;
}

.confirmCodeField {
  margin-top: 2px;
}

.confirmCodeInput {
  width: auto;
}

.repeatSending {
  display: inline-block;
  margin-left: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #5282c3;
  cursor: pointer;
}

.repeatSending[sended="true"] {
  color: #a4a4a4;
  cursor: default;
}

.sendTimer {
  display: inline-block;
  margin-left: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #5282c3;
}

.sendTimer[sended="false"] {
  display: none;
}
